<div class="confirm-action-dialog">
    <ng-container *ngIf="data.type != 'warning'; else warningTitle">
      <h2 mat-dialog-title>Confirm action</h2>
    </ng-container>
  
    <ng-template #warningTitle>
      <h2 mat-dialog-title>ERROR!</h2>
    </ng-template>
  </div>
  <hr />
  <mat-dialog-content>
    <p>{{ data.message }}</p>
  </mat-dialog-content>
  <hr />
  <mat-dialog-actions class="d-flex justify-content-end">
    <ng-container *ngIf="data.type != 'warning'; else warningBtn">
      <button class="btn btn-success mr-3" [mat-dialog-close]="ok()">Yes</button>
      <button class="btn btn-danger" mat-dialog-close>Cancel</button>
    </ng-container>
    <ng-template #warningBtn>
      <button class="btn btn-danger" mat-dialog-close>OK</button>
    </ng-template>
  </mat-dialog-actions>
  