@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~aos/dist/aos.css";
@import "styles/config";
@import "styles/login";
@import "styles/sign-up";
@import "styles/spinner";
@import "styles/menu";
@import "styles/list";
@import "styles/specific-service";
@import "styles/specific_detail";
@import "styles/responsive";

html,
body {
  height: 100%;
  overflow: visible !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
